stages:
  - git_pull
  - verify_python
  - setup_env
  - run_tests

variables:
  AOSP_BRANCH: "android-X.0.0_rXX"
  MANIFEST_URL: "https://android.googlesource.com/platform/manifest"

git_pull:
  stage: git_pull
  tags:
    - aosp-test
  script:
    # - git clone --branch "main" https://user:glpat-6TPeDszAa1RY5aiUb4QD@gitlab.prod.one/wp-te-test/aosp_automation.git need to add proper repo url

verify_python_version:
  stage: verify_python
  tags:
    - aosp-test
  script:
    - |
      PYTHON_VERSION=$( /usr/bin/python3 --version 2>&1 | awk '{print $2}')
      MAJOR=$(echo $PYTHON_VERSION | cut -d. -f1)
      MINOR=$(echo $PYTHON_VERSION | cut -d. -f2)
      if [ "$MAJOR" -lt 3 ] || { [ "$MAJOR" -eq 3 ] && [ "$MINOR" -lt 12 ]; }; then
        echo "Python version is less than 3.12"
        exit 1
      else
        echo "Python version is $PYTHON_VERSION"
      fi

setup_python_env:
  stage: setup_env
  tags:
    -aosp-test
  script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r Setup/requirement.txt
  rules:
    - if: '$execution_mode == "parallel"'
      needs: [verify_python_version]
    - if: '$execution_mode == "sequential"'
      when: on_success


run_robot_tests:
  stage: run_tests
  tags:
    - aosp-test
  script:
    - source venv/bin/activate
    - pip install pyyaml
    # - behave --no-capture features/aosp.feature need to add realtime testcases to be executed.
  artifacts:
    paths:
      - logs/*
      - reports/*
      - test_configuration/*
    expire_in: 1 week
    when: always
